<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" th:rel="stylesheet" >

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:if="${session.AdminName == null}">
 <a class="navbar-brand" href="/login">Login</a>
 


</nav>

 <nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:if="${session.AdminName != null}">
 <a class="navbar-brand" href="/adminHome">[ICIN BANK]</a>
 
  <a class="navbar-brand" href="/viewUserDetail">[User Accounts]</a>
   <a class="navbar-brand" href="/viewChequeBkList">[Cheque Book Request]</a>
    <a class="navbar-brand" href="/viewDepositWithdrawReq">[Money Transfer Request]</a>
<a  href="/logOut">LogOut</a>
  


</nav>
<br>
  
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>