<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Customer Profile</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link th:rel="stylesheet" th:href="@{mystyle.css}">
</head>

<body>
	<header th:insert="fragments/header"></header> 
	<div class="container col-md-8 col-md-offset-3" style="overflow: auto;align-content: center;">
		<h1>Customer Detail</h1>
<hr>

		<form th:object="${customer}" method="POST" style="align-content: center;">
			<div style="width: auto;display: inline-block; ">
				<div class="form-group">
					<label class="fw-bold" for="firstName">FirstName</label> <input type="text"
						class="form-control" th:field="*{firstName}" readonly="readonly"/>

				</div>

				<div class="form-group">
					<label class="fw-bold" for="lastName">LastName</label> <input type="text"
						class="form-control" th:field="*{lastName}" readonly="readonly"/>

				</div>
				<div class="form-group">
					<label class="fw-bold" for="phoneNum">Phone No.</label> <input type="text"
						class="form-control" th:field="*{phoneNum}" readonly="readonly"/>

				</div>

				<div class="form-group">
					<label class="fw-bold" for="email">Email</label> <input type="email"
						class="form-control" th:field="*{email}" readonly="readonly"/>

				</div>
				<div class="form-group">
					<label class="fw-bold" for="userName">UserName</label> <input type="text"
						class="form-control" th:field="*{user.userName}" readonly="readonly" />

				</div>

			</div>

			<div style="display: inline-block;">
				<div
					style="height: 100px; width: auto; padding: 30px; border: 3px; display: inline-block;">

					<div
						style="height: 70px; width: 250px; background-color: rgb(3, 219, 252);border-style: solid;  border-width: thin;">
						<p class="fw-bold" >Primary Account No: </p>
					</div>

					<div style="height: 30px; width: 250px;border-style: solid;  border-width: thin;">

						<p class="fw-bold" style="text-align: center;" th:text="${customer.currentAccount.currentActNo}"></p>
					</div>
				</div>

				<div
					style="height: 100px; width: auto; padding: 30px; border: 3px; border-color: black;">

					<div
						style="height: 70px; width: 250px; background-color: rgb(3, 252, 211);border-style: solid;  border-width: thin;">
						<p class="fw-bold">Savings Account No: </p>
					</div>

					<div style="height: 30px; width: 250px;border-style: solid;  border-width: thin;">

						<p class="fw-bold" style="text-align: center;" th:text="${customer.savingsAccount.savingActNo}"></p>
					</div>
				</div>

			</div>




		</form>


	</div>
</body>
</html>